<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-12xl">
        <h2 class="text-2xl font-bold mb-6 text-center">Existing Employees</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white">
                <thead>
                    <tr class="w-full bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Name</th>
                        <th class="py-3 px-6 text-left">Father's Name</th>
                        <th class="py-3 px-6 text-left">Mother's Name</th>
                        <th class="py-3 px-6 text-left">Spouse Name</th>
                        <th class="py-3 px-6 text-left">Type of Employment</th>
                        <th class="py-3 px-6 text-left">Date of Birth</th>
                        <th class="py-3 px-6 text-left">Mobile No</th>
                        <th class="py-3 px-6 text-left">PAN No</th>
                        <th class="py-3 px-6 text-left">Adhaar No</th>
                        <th class="py-3 px-6 text-left">Pay ID</th>
                        <th class="py-3 px-6 text-left">IFSC Code</th>
                        <th class="py-3 px-6 text-left">Bank Account No</th>
                        <th class="py-3 px-6 text-left">PVC Done</th>
                        <th class="py-3 px-6 text-left">PVC Reference No</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    {% for employee in employees %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap">{{ employee.name }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.fathers_name }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.mothers_name }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.spouse_name }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.type_of_employment }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.date_of_birth }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.mobile_no }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.pan_no }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.adhaar_no }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.pay_id }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.ifsc_code }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.bank_account_no }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.pvc_done }}</td>
                        <td class="py-3 px-6 text-left">{{ employee.pvc_reference_no }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center mt-6">
            <a href="{{ url_for('generate_pdf') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Generate PDF
            </a>
        </div>
    </div>
</body>
</html>
