<!doctype html>
<html lang="en" x-data="{
  form: {
    name: '',
    fathers_name: '',
    mothers_name: '',
    spouse_name: '',
    type_of_employment: '',
    date_of_birth: '',
    mobile_no: '',
    pan_no: '',
    adhaar_no: '',
    pay_id: '',
    ifsc_code: '',
    bank_account_no: '',
    pvc_done: '',
    pvc_reference_no: ''
  },
  errors: {
    mobile_no: '',
    adhaar_no: ''
  },
  validateForm() {
    this.errors.mobile_no = this.form.mobile_no.length !== 10 ? 'Mobile number must be 10 digits' : '';
    this.errors.adhaar_no = this.form.adhaar_no.length !== 12 ? 'Adhaar number must be 12 digits' : '';
    return !this.errors.mobile_no && !this.errors.adhaar_no;
  }
}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-4xl">
      <h1 class="text-2xl font-bold mb-6 text-center">Enter Employee Details</h1>
      <form method="POST" class="grid grid-cols-1 md:grid-cols-2 gap-4" @submit.prevent="if (validateForm()) { $el.submit(); }">
        {{ form.hidden_tag() }}
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.name.label }}</label>
          {{ form.name(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your full name.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.fathers_name.label }}</label>
          {{ form.fathers_name(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your father's name.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.mothers_name.label }}</label>
          {{ form.mothers_name(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your mother's name.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.spouse_name.label }}</label>
          {{ form.spouse_name(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your spouse's name (if applicable).</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.type_of_employment.label }}</label>
          {{ form.type_of_employment(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Select your type of employment.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.date_of_birth.label }}</label>
          {{ form.date_of_birth(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your date of birth.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.mobile_no.label }}</label>
          {{ form.mobile_no(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', x_model='form.mobile_no') }}
          <p class="text-xs text-gray-600 mt-1">Enter your 10-digit mobile number.</p>
          <p class="text-xs text-red-500 mt-1" x-text="errors.mobile_no"></p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.pan_no.label }}</label>
          {{ form.pan_no(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your PAN number.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.adhaar_no.label }}</label>
          {{ form.adhaar_no(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', x_model='form.adhaar_no') }}
          <p class="text-xs text-gray-600 mt-1">Enter your 12-digit Adhaar number.</p>
          <p class="text-xs text-red-500 mt-1" x-text="errors.adhaar_no"></p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.pay_id.label }}</label>
          {{ form.pay_id(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your Pay ID.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.ifsc_code.label }}</label>
          {{ form.ifsc_code(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your bank's IFSC code.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.bank_account_no.label }}</label>
          {{ form.bank_account_no(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter your bank account number.</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.pvc_done.label }}</label>
          {{ form.pvc_done(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Is PVC done?</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">{{ form.pvc_reference_no.label }}</label>
          {{ form.pvc_reference_no(class_='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline') }}
          <p class="text-xs text-gray-600 mt-1">Enter PVC reference number.</p>
        </div>
        <div class="md:col-span-2 flex items-center justify-between mt-4">
          {{ form.submit(class_='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline') }}
        </div>
      </form>
    </div>
  </body>
</html>
