<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Employee Details Report</title>
    <style>
        @page {
            size: A4 landscape;
            margin: 1cm;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 10px; /* Adjust the font size as needed */
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
            font-size: 10px; /* Adjust the font size as needed */
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Employee Details Report</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Father's Name</th>
        <th>Mother's Name</th>
        <th>Spouse Name</th>
        <th>Type of Employment</th>
        <th>Date of Birth</th>
        <th>Mobile No</th>
        <th>PAN No</th>
        <th>Adhaar No</th>
        <th>Pay ID</th>
        <th>IFSC Code</th>
        <th>Bank Account No</th>
        <th>PVC Done</th>
        <th>PVC Reference No</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.fathers_name }}</td>
        <td>{{ employee.mothers_name }}</td>
        <td>{{ employee.spouse_name }}</td>
        <td>{{ employee.type_of_employment }}</td>
        <td>{{ employee.date_of_birth }}</td>
        <td>{{ employee.mobile_no }}</td>
        <td>{{ employee.pan_no }}</td>
        <td>{{ employee.adhaar_no }}</td>
        <td>{{ employee.pay_id }}</td>
        <td>{{ employee.ifsc_code }}</td>
        <td>{{ employee.bank_account_no }}</td>
        <td>{{ employee.pvc_done }}</td>
        <td>{{ employee.pvc_reference_no }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
